.flightCard {
    min-width: 275px;
    margin-bottom: 16px;
    border-radius: 16px;
    background-color: rgb(229, 239, 250);
    border: 2px solid blue;
    position: relative;
    gap: 40px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.flightCardBox  {
    display: flex;
    flex-direction: column;
    gap: 15px;    
}
.flightCard:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.icon {
    color: #0066ff;
    margin-right: 8px;
}

.iconArrow {
    color: #0066ff;
    margin-left: 8px;
    margin-right: 8px;
}

.flightId {
    margin-top: 8px;
    font-weight: 500;
    color: #333;
}

.gateNo {
    font-weight: 500;
    color: #333;
}

.departure {
    color: #333;
}

.status {
    display: flex;
    align-items: center;
    color: #333;
}

.statusIcon {
    margin-right: 8px;
}

.editButton {
    border: none;
    border-radius: 20px;
    padding: 5px;
    color: #ffffff;
    background-color: #0066ff;
}

.editButton:hover {
    background-color: #0066ff;
}
